*.egg-info
__pycache__

# certain ipython notebook files
notebooks/.ipynb_checkpoints

# PyCharm project files
.idea

# files related to python testing system
.coverage
setup.cfg
bento.info

# ignore all files related to pythontex except the template itself
tweezer/legacy/templates/pytex/*
!tweezer/legacy/templates/pytex/*.tex

.DS_Store
docs/build