*.pyc
*/*/*.pyc
examples/

.cache/

build/
dist/
sandbox/

convert.log
tox.ini

tweezer.egg-info/

# certain ipython notebook files
Sandbox.ipynb

# sublime project files
*.sublime-project
*.sublime-workspace

# files related to python testing system
.coverage
